---
import FormattedDate from './FormattedDate.astro';
import type { CollectionEntry } from 'astro:content';

type Props = {
	post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const { data } = post;
---

<article>
	<a href={`/blog/${post.id}/`}>
		{data.heroImage && <img width={720} height={360} src={data.heroImage} alt="" />}
		<h2>{data.title}</h2>
		<p class="date"><FormattedDate date={data.pubDate} /></p>
		<p>{data.description}</p>
	</a>
</article>

<style>
	article {
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid rgb(var(--gray));
	}
	article a {
		text-decoration: none;
		color: inherit;
	}
	article h2 {
		margin: 0.5rem 0;
		font-size: 1.5rem;
	}
	.date {
		color: rgb(var(--gray));
		font-size: 0.9rem;
		margin: 0.25rem 0;
	}
	article img {
		width: 100%;
		border-radius: 12px;
		margin-bottom: 0.5rem;
	}
</style>
